@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Poppins', sans-serif;
}
body{
    background: #dcdce6;
    background-image: url("https://raw.githubusercontent.com/akashyap2013/MERN_Login_App_with_ResetEmail/Main/client/src/assets/Background.png");
    background-position: center;
}